<c-row>
    <c-row>
        <c-card-group class="mb-2">
            <c-card style="padding: 1%;">
                <h5 cCardTitle>Atención médica</h5>
                <c-card-body>
                    <div class="mb-3">
                        <label cLabel for="inputEmail-1">Número de Ingreso</label>
                        <input [(ngModel)]="Attention"  cFormControl type="text" required>
                    </div>
                    <div class="mb-3">
                        <label cLabel for="inputname">Nombre Atención</label>
                        <input [(ngModel)]="Header.AttentionName" cFormControl id="inputname" type="text" readonly>
                    </div>
                    <div class="d-flex flex-row-reverse">
                    <button class="btn align-items-end ml-auto" (click)="FindData()" cButton color="primary">Buscar</button>
                    </div>

                </c-card-body>
            </c-card>
            <c-card style="padding: 1%;" *ngIf="buttonview">
                <h5 cCardTitle>Información de paciente</h5>
                <c-card-body>
                    <div class="mb-3">
                        <label cLabel for="inputidp">ID Paciente</label>
                        <input [ngModel]="Header.patient?.IdPatient?Header.patient.IdPatient:''" cFormControl
                            id="inputidpac" type="text" readonly>
                    </div>

                    <div class="mb-3">
                        <label cLabel for="inputnam">Nombre</label>
                        <input [ngModel]="Header.patient?.PatientName?Header.patient.PatientName:''" cFormControl
                            id="inputname" type="text" readonly>
                    </div>
                    <div class="mb-3">
                        <label cLabel for="inputnam">Tipo Documento</label>
                        <input [ngModel]="Header.patient?.TypeId?Header.patient.TypeId:''" cFormControl
                            id="inputtipodoc" type="text" readonly>
                    </div>
                    <div class="mb-3">
                        <label cLabel for="inputnam">Número Documento</label>
                        <input [ngModel]="Header.patient?.Id?Header.patient.Id:''" cFormControl id="inputdoc"
                            type="text" readonly>
                    </div>

                </c-card-body>
            </c-card>
        </c-card-group>
    </c-row>
    <c-row>
        <c-card-group>
            <c-card style="padding: 1%;" *ngIf="buttonview">
                <h5 cCardTitle>Documentos de soporte</h5>
                <c-card-body>
                    <table cTable [responsive]="true">
                        <thead>
                            <tr>
                                <th scope="col">Tipo de Servicio</th>
                                <th scope="col">Facturable</th>
                                <th scope="col">Plan de Cobertura</th>
                                <th scope="col">Fecha de creación</th>
                                <th scope="col">Acuerdo</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Código de producto</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Monto Total</th>
                                <th scope="col">Moneda</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let items of tabledata">
                                <td>{{items.service_type}}</td>
                                <td>{{items.invoiceable?'SI':'NO'}}</td>
                                <td>{{items.healthcare_plan_coverage_code}}</td>
                                <td>{{items.creation_date_time | date:"yyyy/MM/dd HH:mm:ss" }}</td>
                                <td>{{items.agreement_code}}</td>
                                <td>{{items.quantity}}</td>
                                <td>{{items.provider_product_code}}</td>
                                <td>{{items.description}}</td>
                                <td>{{items.total_amount}}</td>
                                <td>{{items.currency}}</td>
                            </tr>

                        </tbody>
                    </table>
                </c-card-body>
                <c-card-footer>
                    <c-row class="mt-4">
                        <c-col class="col-12">
                            <div class="d-flex flex-row-reverse">
                                <button class="btn align-items-end ml-auto" (click)="LoadData()" cButton color="primary"
                                cTooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." cTooltipPlacement="right">Cargar cuenta</button>
                            </div>
                        </c-col>
                    </c-row>
                </c-card-footer>
            </c-card>
        </c-card-group>
        
    </c-row>

</c-row>